.image {
  border-radius: 50%;
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-left: 120px;
}

.uploadAvatarButton:hover {
  background-color: green !important;
  color: white !important;
}
