.header_style {
  background-color: #e07a5f !important;
}

.logout_icon {
  padding-left: 3.5px;
}

.linkHeader {
  text-decoration: none;
  color: #fbfbfb;
}

.linkProfile {
  text-decoration: none;
  color: black;
}
