.header_style {
  background-color: #386641 !important;
}

.logout_icon {
  padding-left: 3.5px;
}

.linkHeader {
  text-decoration: none;
  color: white;
}

.linkProfile {
  text-decoration: none;
  color: black;
}
